h1 {
    text-align: center;
    color: white
}

p {
    text-align: justify;
}

.keretezett {
    width: 33%;
    margin: 0 33%
}

p, h2 {
    padding: 0 8px;
}
body{
    background-color: #999;
}
a{
    color: white;
}
div{
    width: 670px;
    background-color: white;
    margin: 0 auto;
}
.fejlec{
    width: 100%;
    
}
table{
    width: 650px;
    margin: 0 auto;
    text-align: center;
}
td{
    background-color: green;
    height: 60px;
}