h1 {
    text-align: center;
    color: white
}

p {
    text-align: justify;
}

.keretezett {
    width: 33%;
    margin: 0 33%;
    border: 1px solid black;
}

p, h2 {
    padding: 0 8px;
}
body{
    background-color: #999;
    
}
a{
    color: white;
    font-weight: 700;
    font-size: 120%;
}
div{
    width: 670px;
    background-color: white;
    margin: 0 auto;
}
.fejlec{
    width: 100%;
    
    
}
table{
    width: 650px;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
}
td{
    background-color: green;
    height: 60px;
}